
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Private Key</title>
<link rel="stylesheet" type="text/css" media="all" href="./css/privatekeystyle.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="home page-template page-template-homepage page-template-homepage-php page page-id-10">
<div class="container">	
    <div class="slide first">
          <img src="./Images/keypair.svg" alt="" class="slideimg img1">
          <a href="/privatekeydownload" onclick="signinbtn()"><img src="./Images/download.svg" alt="download" class="download"> </a>
               <a href="#" id="btn"><img src="./Images/signin.svg" alt="signin" class="download"> </a> 
              </div>
        </div> 
        </div>		
        <script>
            function signinbtn()
  {
    document.getElementById("btn").href="/signin"; 
  }
        </script>	
</div>
</body>
</html>
